.fade {
  background-color: black;
  opacity: 0.70 !important; 
  color: white;
}
/* comment */
.background {
  background-image: url(../../assets/images/refrigerator.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 812px; 
  margin: 0 auto;
  /* opacity: 0.6; */
}

#welcome, #intro {
  max-width: 812px;
  color: #cfd8dc;
}

.foodList {
  list-style-type: none;
  columns: 2;
  -webkit-columns:2;
  -moz-columns: 2;
}

li {
  color: #cfd8dc;
}

/* Search Recipes Button*/
#searchRecipes {
  color: #cfd8dc;
}

.recipe-title {
  color: #cfd8dc;
}

/* Save button */
.saveRecipe {
  position: absolute !important;
  color: #cfd8dc;
}

/*for allResults tab*/
#allResults {
  color: #cfd8dc;
}

/*for yesMake tab*/
#yesMake {
  color: #cfd8dc;
}

/*for the noMake tab*/
#noMake {
  color: #cfd8dc;
}

/* Override materialise settings section*/
.tabs {
  background-color: #263238 !important;
}

.tab {
  color: #cfd8dc !important;
}

.tabs .tab a:hover {
  background-color: #78909c !important;
  color: #455a64 !important;
}

.tabs .tab a.active{
  background-color: #78909c !important;
}

.tabs .indicator {
  background: rgb(155, 0, 0) !important;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: #90a4ae !important;
  outline: none !important;
}

/*end override materialise settings section*/